language: node_js
node_js:
- '6'
before_script:
- npm install -g grunt-cli
sudo: false
deploy:
  provider: npm
  email: henri.bergius@iki.fi
  api_key:
    secure: QQcTXOvabTxvF42v/KwoQfVMGyCXHd/2FYKwe8ODy/+SZmGmpidv3hdmXsRQCERkLu7nBLyFLn/HwN8N+/n09iCsLoEx+W3ZIORaBf9HeaagQXtS0SrcbHgJ+kz4g6CgsAJbbr1DUinpd3gi2H3QvfuJIbbdrsTUd3d275J0BOw=
  on:
    tags: true
    repo: flowhub/flowhub-registry
